<div class="jumbotron center">
	<h1>Let's orgnaize your photos</h1>
	<%= link_to "Sign in", "#", class: "btn btn-lg btn-default" %>
	<%= link_to "Start here", "#", class: "btn btn-lg btn-primary" %>
</div>
